@model TaskManager.Domain.Entities.TaskModel
@*
    <div id="update_task_modal_overlay" class="modal_overlay">
        <div id="update_task_modal_body" class="modal_body">
            <partial name="UpdateTask" model="TaskManager.Domain.Entities.TaskModel"/>
        </div>
    </div>
*@

<div class="modal fade" id="addTask">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal_header">
                <h3>New Task</h3>
                <button type="button" id="add_close_modal" class="close_modal"><img src="~/img/add_sign.png" /></button>
            </div>

            <div class="modal_body">
                <form method="post" asp-action="AddTask">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="TaskId" type="hidden" />

                    <div class="form_row">
                        <input asp-for="Description" placeholder="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form_row">
                        <select asp-for="Type" class="mgr25">
                            <option value="" disabled selected hidden>Type</option>
                            <option value="Work">Work</option>
                            <option value="Home">Home</option>
                            <option value="Fun">Fun</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>

                        <select asp-for="Priority">
                            <option value="" disabled selected hidden>Priority</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>

                    <div class="form_row">
                        <input asp-for="Deadline" class="form-control mgr25" />
                        <span asp-validation-for="Deadline" class="text-danger"></span>

                        <input type="submit" value="Apply" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
