<!-- ----- Partial view for Create operation (modal) ----- -->

<!-- View model for Create operation -->
@model TaskManager.WebUI.ViewModels.Tasks.CreateViewModel

<!-- Overlay for modal window -->
<div class="modal_overlay h-100" id="modal_overlay">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-8">
                <!-- Modal window -->
                <div class="modal_window">
                    <!-- Modal insides -->
                    <div class="modal_content">
                        <!-- Modal header -->
                        <div class="modal_header">
                            <h3>New</h3>
                            <!-- Close button -->
                            <button type="button" class="close_modal_button" id="close_modal_button">
                                <img src="~/img/add_sign.png" />
                            </button>
                        </div>
                        <!-- Modal content -->
                        <div class="modal_body">
                            <!-- Create form with AJAX -->
                            <form method="post" asp-action="Create" data-ajax="true" data-ajax-success="onValidateTask">
                                <!-- List of validation errors -->
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <!-- Task description-->
                                <div class="form_row">
                                    <input asp-for="Description" placeholder="Description" class="select_description" />
                                    <!-- Description validation errors -->
                                    @*<span asp-validation-for="Description" class="text-danger"></span>*@
                                </div>

                                <!-- Task type and priority selection -->
                                <div class="form_row">
                                    <!-- Type selection -->
                                    <div class="select_type_container">
                                        <select class="select_type" required asp-for="Type">
                                            <option value="" disabled selected hidden>Type</option>
                                            <option value="Work">Work</option>
                                            <option value="Home">Home</option>
                                            <option value="Fun">Fun</option>
                                        </select>
                                        <span class="arrow"></span>
                                        <!-- Type validation errors -->
                                        @*<span asp-validation-for="Type" class="text-danger"></span>*@
                                    </div>

                                    <!-- Priority selection -->
                                    <div class="select_priority_container">
                                        <select class="select_priority" required asp-for="Priority">
                                            <option value="" disabled selected hidden>Priority</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                        <span class="arrow"></span>
                                        <!-- Priority validation errors -->
                                        @*<span asp-validation-for="Priority" class="text-danger"></span>*@
                                    </div>
                                </div>

                                <!-- Datepicker for task deadline date -->
                                <div class="form_row">
                                    <!-- Starting point is current time -->
                                    <input asp-for="Deadline" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" class="select_deadline" />
                                    <!-- Deadline validation errors -->
                                    @*<span asp-validation-for="Deadline" class="text-danger"></span>*@

                                    <input type="submit" value="Apply" class="apply_button" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery validation -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
