@model TaskManager.WebUI.ViewModels.Tasks.DeleteViewModel

<div class="modal_overlay" id="modal_overlay"  role="dialog">
    <div class="modal_window no_header" role="document">
        <div class="modal_content">
            <div class="modal_body">
                <b class="modal_message">Would you like to delete this task?</b>
                <form method="post" asp-action="Delete" asp-controller="Tasks">
                    <input asp-for="TaskId" type="hidden" />
                    <input asp-for="UserId" type="hidden" />
                    <input asp-for="Type" type="hidden" />
                    <input asp-for="Description" type="hidden" />
                    <input asp-for="Priority" type="hidden" />
                    <input asp-for="Deadline" type="hidden" />
                    <input asp-for="Finished" type="hidden" />
                    <div class="form_row">
                        <!-- https://stackoverflow.com/questions/5637969/is-an-empty-href-valid -->
                        <a class="cancel_button mgr20" id="close_modal_button" href="javascript:;">Cancel</a>
                        <input class="apply_button" type="submit" value="Delete" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
